// out: wxy-layout.css

@deep: ~'/deep/';

@layout-gutter-width: 16px;

html @{deep} {
  [layout-margin] {
    margin: @layout-gutter-width / 2;
  }

  [layout-padding] {
    margin: @layout-gutter-width / 2;
  }
}
